.button {
    background-color: $white;
    border: 2px solid $granite-gray;
    border-radius: 40px;
    color: $granite-gray;
    cursor: pointer;
    font-size: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    font-weight: $raleway-bold;
}