// main style

// section 1

.section1_container {
    background-color: $jelly-bean;
    color: $white;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-top: 10em;
    padding-bottom: 10em;
}

// section 2

.section2_container {
    background-color: $quick-silver;
    color: $white;
    text-align: left;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-top: 1em;
    padding-bottom: 3em;
}

.section2_img{
    width: 70vw;
    padding-top: 3em;
}

.section2_text {
    width: 50%;
    margin: 0.5em;
}

// section 3

.section3_container {
    background-color: $snow;
    color: $granite-gray;
    text-align: left;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-top: 1em;
    padding-bottom: 3em;
}

.section3_img{
    width: 70vw;
    padding-top: 3em;
}

.section3_text {
    width: 50%;
    margin: 0.5em;
}

// section 4

.section4_container {
    background-color: $jelly-bean;
    color: $white;
    text-align: center;
    align-items: center; 
    padding-top: 1em;
    padding-bottom: 1em;
}


// section 5

.section5_container {
    background-color: $snow;
    color: $granite-gray;
    text-align: left;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-top: 1em;
    padding-bottom: 3em;
}

.section5_img {
    width: 30vw;
    padding-top: 3em;
}

.section5_text {
    width: 50%;
    margin: 0.5em;
}


// section 6

.section6_container {
    background-color: $jelly-bean;
    color: $white;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-top: 0.7em;
    padding-bottom: 1em;
    font-size: $large;
}

// footer

.footer {
    background-color: $granite-gray;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}

.footer_logo {
    width: 150px;
}